<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
  integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA="
  crossorigin="anonymous"
/>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript"></script>

<div class="not">
  <h1>No posts found</h1>
  <i style="transform: rotate(45deg); font-size: 85px;" class="fas fa-plus"></i>
</div>

<!-- <div *ngIf="comments.length > 0">
  <h3>Comments</h3>
  <ul>
    <li *ngFor="let comment of comments">
      <p>{{ comment.body }}</p>
      <p>By: {{ comment.name }} ({{ comment.email }})</p>
    </li>
  </ul>
</div> -->
