<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
  integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA="
  crossorigin="anonymous"
/>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript"></script>

<div class="container mt-3 mb-4">
  <div class="col-lg mt-4 mt-lg-0">
    <div class="row">
      <div class="col-md-12">
        <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4">
          <table class="table manage-candidates-top mb-0">
            <thead>
              <tr>
                <th><i class="fa fa-user"></i> Users</th>
                <th class="text-center">Status</th>
              </tr>
            </thead>
            <tbody *ngFor="let u of users">
              <tr class="candidates-list">
                <td class="title">
                  <div class="thumb">
                    <img
                      class="img-fluid"
                      src="https://bootdey.com/img/Content/avatar/avatar7.png"
                      alt
                    />
                  </div>
                  <div class="candidate-list-details">
                    <div class="candidate-list-info">
                      <div class="candidate-list-title">
                        <h5 class="mb-0">
                          <a
                            style="cursor: pointer"
                            (click)="navigateToUserPosts(u.id)"
                            >{{ u.name }}</a
                          >
                        </h5>
                      </div>
                      <div class="candidate-list-option">
                        <ul class="list-unstyled">
                          <li
                            [ngClass]="{
                              colorfe: u.gender === 'female',
                              colormar: u.gender === 'male'
                            }"
                          >
                            <i
                              class="fas"
                              [ngClass]="{
                                'fa-venus colorfe': u.gender === 'female',
                                'fa-mars colormar': u.gender === 'male'
                              }"
                            ></i>
                            {{ u.gender }}
                          </li>
                          <li><i class="fas fa-envelope"></i> {{ u.email }}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="candidate-list-favourite-time text-center">
                  <i
                    style="font-size: 10px"
                    [ngClass]="{
                      'status-active fas': u.status === 'active',
                      'status-inactive far': u.status === 'inactive'
                    }"
                    class="fa-circle"
                  >
                  </i>
                  <span
                    style="text-align: left"
                    [ngClass]="{
                      'status-active': u.status === 'active',
                      'status-inactive': u.status === 'inactive'
                    }"
                    class="candidate-list-time order-1"
                  >
                    {{ u.status }}</span
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
